body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
}

table {
	border-collapse: collapse;
}

td, tbody th {
	border: 1px solid black;
}

td, th {
	padding: .3em;
}

tbody th {
	text-align: center;
	background-color: #eae3e3;
}

td:nth-child(2) {
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}

tbody td {
	text-align: center;
}

tr > td:first-child, td:nth-child(2) {
	text-align: start;
}